
/* Reset css
/* ---------------------------------------------------------- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    line-height: 1;
    overflow-x: hidden;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
img {
    max-width: 100%;
}
html {
    box-sizing: border-box;
    font-family: sans-serif;

    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
a {
    background-color: transparent;
}
a:active,
a:hover {
    outline: 0;
}
b,
strong {
    font-weight: bold;
}
i,
em,
dfn {
    font-style: italic;
}
h1 {
    margin: 0.67em 0;
    font-size: 2em;
}
small {
    font-size: 80%;
}
sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
mark {
    background-color: #fdffb6;
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
    margin: 0; /* 3 */
    color: inherit; /* 1 */
    font: inherit; /* 2 */
}
button {
    overflow: visible;
    border: none;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
    /* 1 */
input[type="reset"],
input[type="submit"] {
    cursor: pointer; /* 3 */

    -webkit-appearance: button; /* 2 */
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
input {
    line-height: normal;
}
input:focus {
    outline: none;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] {
    box-sizing: content-box; /* 2 */

    -webkit-appearance: textfield; /* 1 */
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
legend {
    padding: 0; /* 2 */
    border: 0; /* 1 */
}
textarea {
    overflow: auto;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
td,
th {
    padding: 0;
}


/*Styles*/

body {
    padding: 0;
    color: white;
    font-family: "Montserrat", "Helvetica Neue", sans-serif;
}

h2 {
    margin-top: 45px;
    margin-bottom: 2px;
    padding-bottom: 0;
    float: none;
    font-size: 20.5px;
    line-height: 31px;
    font-weight: 300;
    text-align: center;
    letter-spacing: .26px;
}
h4, h5, h6 , p {
    font-size: 17px;
    letter-spacing: .25px;
    clear: both;
}

/*utility*/

.is-dark {
    background: #27212c;
}

.flex-align-center {
    align-items: center;
}

.flex-align-stretch {
    align-items: stretch;
}

.text-center {
    text-align: center;
}

.italic {
    ;
}


/*main block*/

.home-template .pagination {
    display: none;
}

.affliction-hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

}


.affliction-hero-logo {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 5rem 1.5rem;
}

.affliction-main-hero {
    min-height: 100vh;
    /*overflow: hidden;*/
}

.affliction-hero-body {
    display: flex;
    align-items: center;
    z-index: 10;
}

.affliction-container {
    margin: 0 auto;
    position: relative;
}

.affliction-container-min {
    position: relative;
}

.affliction-has-text-centered {
    text-align: center;
}

.affliction-hero-description {
    margin-top: 15px;
    font-size: 25px;
}

.affliction-hero-logo img {
    margin-bottom: 10px;
}

/*main page articles*/
.affliction-image-article {
    position: relative;
}
.affliction-image-article a{
    cursor: pointer;
    text-decoration: none;
    color: white !important;
    z-index: 6;
}

.bgnew {
    background-image: linear-gradient(to right bottom, #000000, #542a94, #9e2b9f, #1e154c, #071035);
    position: absolute;
    opacity: 0.4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    z-index: 5;
}

.dark-bckg {
    background-color: rgba(25,25,25,0.74);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*z-index: 5;*/
}

h1.affliction-main-h1 {
    /*font-family: 'Lora', serif;*/
    font-size: 88px;
}

.affliction-image-article:hover .dark-bckg {
    background-color: rgba(25,25,25,0.25);
}

/*.affliction-image-article a:hover {*/
/*    opacity: 0.6;*/
/*}*/
.affliction-image-article .affliction-hero-body {
    padding-bottom: 10rem;
    padding-top: 10rem;
    z-index: 10;
}

.affliction-hero-body h2 {
    text-align: unset;
    /*text-indent: 2em;*/
    margin-top: 10px;
}


.affliction-image-article h1 {
    margin-bottom: 20px;
    font-size: 58px;
    line-height: 56px;
    font-weight: 600;
    letter-spacing: -1.1px;
    text-decoration: none;
}


/*scroll down animation*/

.affliction-chevron-container {
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: 16%;
    z-index: 10;
}

.affliction-chevron {
    cursor: pointer;
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

.affliction-chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.affliction-chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.affliction-chevron:before,
.affliction-chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
}

.affliction-chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.affliction-chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;

    }
    33% {
        opacity: 1;
        transform: translateY(30px);
    }
    67% {
        opacity: 1;
        transform: translateY(40px);
    }
    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

.text {
    display: block;
    margin-top: 75px;
    margin-left: -30px;
    /*font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;*/

    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
    to {
        opacity: 1;
    }
}

/*columns*/

.affliction-cols {
    display: flex;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: -1rem;
}


.affliction-col {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 2.5rem;
}

.site-nav {
    position: absolute;
    right: 25px;
    top: 10px;
    /*width: 250px;*/
    z-index: 12;
    left: unset;
    margin-left: unset;
    margin-right: unset;
}

.site-nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.site-nav li a {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.site-nav li a:hover {
    color: #9e2b9f;
    background: white;
    border-radius: 4px;
}

/*POST*/

.site-nav-logo {
    position: absolute;
    top: 15px;
    left: 25px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 4px;
}

.site-nav-logo img{
     margin-top: -12px;
}

.site-nav-logo img {
    max-width: 50px;
}

.affliction-post-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-family: "Montserrat", "Helvetica Neue", sans-serif;
}

.affliction-post-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    width: 100%;
}

.affliction-post-hero {
    min-height: 60vh;
}

.affliction-post-article time {
    color: gray;
    font-size: 18px;

}

.affliction-post-article h1 {
    font-size: 66px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 66px;
}

.affliction-post-article .affliction-post-tags a {
    color: #16a2f9;
    font-size: 14px;
}

.affliction-post-article .affliction-post-tags a:hover {
    color: #16a2f9;
    text-decoration: none;
}   

.affliction-post-article .affliction-post-tags p {
    font-size: 14px;
    color: gray;

}

.affliction-footer span.theme-by a {
    color: #16a2f9;
}


.affliction-main-article {
    margin-top: 25px;
    display: block;
    width: 100%;
    max-width: 645px;
    margin-right: auto;
    margin-left: auto;
    perspective: 1000px;
    letter-spacing: .02rem !important;
    line-height: 1.6em;
}
.affliction-main-article p {
    margin-bottom: 25px;
    letter-spacing: .02rem !important;
    line-height: 1.6em;
    /*text-indent: 24px;*/
}

.affliction-main-article a {
    color: #16a2f9;
}

.affliction-main-article blockquote {
    border-left: .25rem solid #3eb0ef;
    padding-left: 2rem;
    font-style: italic;
    margin: 15px 0;
}

/*GALLERY*/

.kg-gallery-container {
    display: flex;
    flex-direction: column;
    max-width: 1040px;
    width: 100vw;
}

.kg-gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.kg-gallery-image img {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
}

.kg-gallery-row:not(:first-of-type) {
    margin: 0.75em 0 0 0;
}

.kg-gallery-image:not(:first-of-type) {
    margin: 0 0 0 0.75em;
}

.kg-gallery-card + .kg-image-card.kg-width-wide,
.kg-gallery-card + .kg-gallery-card,
.kg-image-card.kg-width-wide + .kg-gallery-card,
.kg-image-card.kg-width-wide + .kg-image-card.kg-width-wide {
    margin: -2.25em 0 3em;
}

/* keep existing <pre> styles for code cards with captions */
.kg-code-card {
    min-width: 100%;
}

.kg-code-card pre {
    margin: 0;
}

.post-full-image + .post-full-content .kg-content *:first-child .kg-image {
    width: 100%;
}

.post-full-content .kg-width-wide .kg-image {
    max-width: 1040px;
}

.post-full-content .kg-width-full .kg-image {
    max-width: 100vw;
}



/*HEADER*/

.affliction-top-header-sticky {
    width: 100%;
    height: 54px;
    /*background: linear-gradient(to left top, #000000, #542a94);*/
    background: black;
}


/*##POST CARD*/

.affliction-read-next {
    cursor: pointer;
    display: flex;
    z-index: 10;
    flex-direction: row;
}

.affliction-post-card-hero {
    position: relative;
    flex: 1 1 100%;
    display: flex; /* establish flex container */
    justify-content: center; /* align items vertically, in this case */
    flex-direction: column; /* make main-axis vertical */
    align-items: center; /* align items horizontally, in this case */
}
.affliction-post-card-hero a{
    cursor: pointer;
    text-decoration: none;
    color: white !important;
    z-index: 6;
}

.affliction-post-card-hero .affliction-hero-body {
    padding-bottom: 1rem;
    padding-top: 1rem;
    z-index: 10;
}

.affliction-post-card-hero .affliction-col {
    padding: 0;
}

.affliction-post-card-hero .affliction-hero-body h2 {
    font-size: 16px;
    line-height: 18px;
}

.affliction-post-card-hero h1 {
    font-size: 21px;
    font-weight: bold;
}

.affliction-post-card-hero:hover .dark-bckg {
    background-color: rgba(25,25,25,0.25);
}

/*FOOTER*/

.affliction-footer {
    background: black;
    color: white;
    height: 60px;
    line-height: 60px;
}

.affliction-footer .copyright {
    margin-left: 25px;
}

.affliction-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.affliction-footer .social-icons {
    margin-right: 15px;
}

.affliction-footer a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: inline-block;
    padding-top: 6px;
    margin-right: 5px;
    height: 50px;
}

.affliction-footer a.social {
    width: 50px;
    height: 50px;
}

.affliction-footer a svg {
    width: 50px;
    background: white;
    padding: 10px;
    border-radius: 39px;
}
.affliction-footer a svg:hover {
    background: #16a2f9;
}

.affliction-footer .site-nav-left, .site-footer-nav {
    height: 50px;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 769px) {
    .site-nav li a {
        font-size: 22px;
    }

    .site-nav {
        margin-left: auto;
        margin-right: auto;
        margin-top: 35px;
        left: 0;
        right: 0;
    }

    .site-nav ul {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;

    }

    .site-nav-logo {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 10px;
        text-align: center;
        font-size: 40px;
    }

    .affliction-hero-logo {
        /*padding: 14rem 15px;*/
        padding: 0;
        margin: 14rem 0;
    }

    h1.affliction-main-h1 {
        font-size: 60px;
    }

    .affliction-post-article figure iframe {
        max-width: 340px !important;
    }

    .affliction-main-article {
        padding: 0 15px;
    }

    .affliction-read-next {
        cursor: pointer;
        display: flex;
        z-index: 10;
        flex-direction: column;
    }

    .affliction-read-next h2 {
        word-break: break-all;
        width: 100%;
        padding: 0 38px;
    }
    /*.affliction-col {*/
    /*    margin: 0;*/
    /*    padding: 0;*/
    /*}*/

    .affliction-cols {
        display: flex;
        margin-left: unset;
        margin-right: unset;
        margin-top: unset;
    }


    .affliction-post-hero {
        min-height: 40vh;
    }

    .affliction-hero-description {
        padding: 0 14px;
        font-size: 22px;
        line-height: 33px;
    }

    .affliction-footer span.theme-by {
        display: none;
    }
}


@media screen and (min-width: 769px) {
    .affliction-col {
        margin-left: 20%;
    }
}

@media screen and (min-width: 769px) {
    .affliction-col {
        flex: none !important;
        width: 60%;
    }
}
